{
	http_port	{$HTTP_PORT:8082}
}

{$DOMAIN:localhost}:{$PROXY_PORT:8081}

@denied {
	not client_ip private_ranges
	path /posts* /tags*
}

abort @denied
reverse_proxy {$APPLICATION_HOST}:{$APPLICATION_PORT:8080}
